@model MVC_EntLibDAAB.Models.Domain.Category

@{
    ViewBag.Title = "Category - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category - Details</h2>

<fieldset>
    <legend>Category</legend>
    <hr/>
    <div class="label">
         @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
